.btoppingSlider {
    width: 600px !important;
}

.btoppingSlider .slick-slider {
    display: block; /* 슬라이더 컨테이너가 올바르게 렌더링되도록 설정 */
}

.btoppingSlider.slick-track {
    display: flex; /* 가로 배치를 강제 */
    flex-direction: row; /* 세로 방향 설정 방지 */
}

.btoppingSlider .slick-slide {
    height: auto; /* 슬라이드 높이를 자동으로 설정 */
}


/* 토핑 슬라이더 */
.jtoppingSlider {
    width: 100%;
}

.jtoppingSlider .slick-slide {
    width: auto !important;
    padding: 12px 15px;
}

.jtoppingSlider 


/* 공통 */
.slick-prev,
.slick-next {
    display: none !important;
}
.slick-dots {
    bottom: -18px;
}
.slick-dots li {
    margin: 0;
}
.slick-dots li button:before {
    font-size: 8px;
}
.slick-dots li.slick-active button:before {
    color: #ffdb00
}